<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Emotion Recognition</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Real-time Emotion Recognition</h1>
        <div class="video-container">
            <img id="video" src="{{ url_for('video_feed') }}" alt="Video Feed">
        </div>
        <div id="emotion" class="emotion-box">Detected Emotion: </div>
    </div>
</body>
</html>
